.opacity {
    background-color:rgba(0, 0, 0, 0.8);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    margin-top: -20px;
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 40px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
    top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 100px;
	transition: 0.3s;
}

input:checked + label {
	background: rgb(2 132 199);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 40px;
}

h1, li {
    color: #818181;
}

.sidebar {
    transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    animation: fadeIn 3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navopen {
    animation: fadeIn 1.5s;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}